 body{
    background-color: rgb(69, 125, 137);
 }

.firstBlock {
    border: 1px solid gray;
    float: center;
    padding: 0px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    background-color: rgb(36, 57, 57);  
}

#title{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    color: white;
}
.block {
    border: 1px solid gray;
    float: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;

background-color: rgb(36, 57, 57);	
}

.button{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    box-shadow: 10px 10px 5px;
    font-style: bold;
    font-size: 25px;
   }
#question{
    font-size: x-large;
    background-color: none;
    color: white;
    font-style: oblique;
    
}
#rightAanswer{
    font-size: x-large;
    color: black;
    background-color: rgb(35, 249, 27);

}
#worngAnswer{
    font-size: x-large;
    color: black;
    background-color: rgb(253, 48, 31);
}