header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px; 
}
main{
    display: grid;
    grid-template-columns: 1fr 650px 1fr;
    height: 650px;
}
.board{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    flex-grow : 1;
    border-radius: 10%;
    margin: 2px 2px;
    background-color: Khaki; 
    visibility: visible;
    cursor: pointer;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: none;
}
.buttons, .playerState{
    text-align:center;
}
.gameState{
    padding: 10px;
}
button, label{
    margin: auto;
    display: block;
    margin-top: 100px;
}