
#title{
	font-size: 40px;
	position: relative;
	margin-left: 240px;
}
.block{
	position: fixed;
    padding: 50px;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(239, 238, 242);  
}
#input{
	width: 300px;
	height: 50px;
	font-size: 30px;
	border-radius: 10px;
	box-shadow: 3px 3px;

}
.button{
	height: 70px;
	width: 70px;
	margin: 0.9px;
	background-color: white;
	border-radius: 5px;
	font-size: 30px;
	box-shadow: 3px 3px;
	cursor: pointer;
}

.button:hover {
  background-color: rgb(236, 235, 246);
}
